
.header_h1 {
    color: #0E3386;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
}

.container {
    background-color: lightgray;
    padding: 10px;
}

.navigation_bar{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: left;
    padding: 0;
    background-color: gray;
}

.navigation_bar ul{
    list-style: none;
    display: flex;
    padding: 10px;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.navigation_bar li{
    display: flex;
    padding: 3px;
    margin: 0;
    justify-content: left;
    background-color: lightblue;
    transition: background-color 0.3 ease;
}

.navigation_bar li:hover {
    background-color: lightpink;
}

a {
    text-transform: uppercase;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
}

h2 {
    font-style: oblique;
    font-family:'Courier New', Courier, monospace
}

.responsive-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

/* This breakpoint is established for small dimension screens - mobile devices, small tablets, etc. 
I chose this query as a 'mobile first' development decision. */
@media (max-width: 767px) {
   /* Centered the top header to make mobile device view a bit more succint. 
   Also increased width and padding to make it look claener. */
    .header_h1 {
        display: flex;
        align-items: center;
    }

    /* Increased width, aligned to the center, added padding and removed the bullet images all to make the list items more 
    more clickable from smaller device views. --> Created a class object for the 'ul' tag so these changes only apply to 
    this specific page element. */
    .navigation_bar {
        display: flex;
        font-size: auto;
    }

    .navigation_bar ul{
        display: flex;
        font-size: auto;

    }
    
}


/*This breakpoint is established for medium dimension screens - small to large laptop screens, etc. 
This query will be used to optimize my site for laptop users with screen sizes in this range. */
@media (min-width: 768px) and (max-width: 1023px) {
    
    /* Aligned the list items horizontally and added more spacing between them for touchscreen clickability. 
    Also added centered them on screen to look cleaner. */
    li {
        display: inline-block;
        margin-right: 5%;
        text-align: center;
        padding-left: 10%;
    }


    /* Moved headers to center for cleaner look and also transformed lettering to all caps to improve readability and flow.*/
    h2 {
        text-align: center;
        text-transform: uppercase;
    }
}


/* This breakpoint is established for large dimension screens - monitors and larger TV screens.
I chose this breakpoint for anything larger than a standard laptop screen. */
@media (min-width: 1024px) {
    
    /* Combined articles into class object. Used multicol to separate articles into more readable columns. */
    .container {
        max-width: 800px;
        margin: 0 auto;
        column-width: 10%;
        column-gap: 2em;
        column-count: auto;
        text-align: left;
    }

    /* Made everything bigger for readability and centered the title and ul to make it look cleaner. */
    body { 
        font-size: 200%;
    }

    header {
        text-align: center;
    }

    li {
        display: inline-block;
        margin-right: 2%;
        text-align: center;
        padding-left: 5%;
        list-style-type: none;
    }
}
